section {
    margin-bottom: 50px;
}
.class-link {
    color:#AAAAAA;
}

.listing-item__info a {
    position: relative;
    z-index: 1;
}

.img {
    opacity: 0;
}

.listing-item__link {
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    position: absolute;
    z-index: 0;
}

.black {
    color: black;
}

.black:hover {
    color: #4ccda6;
}

.flex-center {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.flex-center a:not(:first-child) {
    margin-left: 0.5rem;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeInUp 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInUp 0.5s; /* Firefox < 16 */
  -ms-animation: fadeInUp 0.5s; /* Internet Explorer */
  -o-animation: fadeInUp 0.5s; /* Opera < 12.1 */
  animation: fadeInUp 0.5s;  
}

@media only screen and (min-width:768px) {
    .page-about {
        height: 60vh;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,20px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@media (hover: none) {
    .touch-only {
        display: block;
    }

    .listing-item .listing-item__content {
        display: none;
    }
}

@media (hover: hover) {
    .touch-only {
        display: none;
    }
    
    .listing-item:hover .listing-item__content {
        opacity:1;
        visibility:visible
    }

    .listing-item:hover .listing-item__info {
        opacity:1;
        -moz-transform:translate(0,0);
        -o-transform:translate(0,0);
        -ms-transform:translate(0,0);
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
}

.fadeUp {
    -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInUp 1s; /* Firefox < 16 */
    -ms-animation: fadeInUp 1s; /* Internet Explorer */
    -o-animation: fadeInUp 1s; /* Opera < 12.1 */
    animation: fadeInUp 1s;
}
