doctype
html
    | {% include head %}
    body.ajax-loading
      | {% include header %}
      .page.page-about
        .page__content(style="height: 100%;")
          section.intro(style="height: 100%;")
            .wrap
              p
              | {{ content | markdownify }}
